body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #ffffff;
}

header {
    background: #1f1f1f;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 22px;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 10px;
}

.btn {
    background: #ff4081;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.card {
    background: #1e1e1e;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.card h3 {
    margin-top: 0;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

textarea {
    min-height: 100px;
}

/* Supprimer bouton à côté */
.card .delete-btn {
    background: #ff0000;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #1f1f1f;
    color: #fff;
    margin-top: 207px;
    font-size: 0.9em;
}

footer a {
    color: #f7d82a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}